header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    grid-area: header;

    position: fixed;

    height: 80px;
    width: 100%;

    transition: 0.6s;
    background-color: $lightRed;
    border-top: 2px solid $newGray;
    box-sizing: border-box;
    border-bottom: 0.5px solid #ffffff69;
    z-index: 50;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;

        li {
            a {
                border-radius: 4px;
                color: white;
                text-decoration: none;
                background: rgb(112 25 25);
                padding: 10px 30px;
            }
                
            a:hover {
                background: rgba(255, 255, 255, 0.126);
                color: white;
                outline: 1px solid rgba(255, 255, 255, 0.481);
                transition: .4s;
            }
        }
    }
}

.headerAnimation {
    height: 60px;
    transition: 0.6s;
}
