#section-sobre-mim {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    height: 400px;

    background-color: $yellow1;

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    article {
        padding-left: 330px;
        width: 60%;
        text-align: justify;
    }
}