#section-sobre-mim {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    height: 400px;

    background-color: $yellow1;

    h2 {
        color: white;
        font-size: 28px;
        text-shadow: 1px 1px 5px rgba(46, 46, 46, 0.508);
    }

    p {
        font-size: 18px;
    }

    article {
        padding-left: 330px;
        width: 60%;
        text-align: justify;
    }
}