#section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid $newGray;

    aside {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        max-width: 1250px;

        .all-cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            
            height: 400px;
            
            .cards {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;

                height: 180px;
                margin-left: 50px;
                text-align: center;

                i {
                    font-size: 80px;
                }

                span {
                    font-size: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    #section-skills aside {
        max-width: 800px;
    }
}

@media screen and (max-width: 930px) {
    #section-skills aside {
        max-width: 515px;

        .all-cards {
            .cards img {
                height: 50px;
            }
        }
    }
}
