#section-hobbies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 60px 0px;
    
    #section__hobbies-asides {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;

       

        aside:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            padding: 20px;

            background-color: $yellow1;
            box-shadow: inset 1px 0px 20px 0px rgba(105, 105, 105, 0.144);

            height: 450px;
            
            .cards {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                height: 60px;
                width: 350px;
                padding: 0px 50px;
        
                border-radius: 7px;
                border: 1px solid $blue3;
                box-shadow: 8px 20px 20px 0px rgba(0, 0, 0, 0.268);
                background-color: white;

                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 50px;
                    width: 50px;

                    border-radius: 100px;
                    background-color: $blue3;

                    
                    i {
                        font-size: 30px;
                    }

                    
                }

                span {
                    text-align: center;
                    font-size: 19px;
                    width: 40%;
                }
            }
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            height: 450px;
            width: 400px;
            background-color: white;

            h1 {
                span {
                    color: $blue3;
                }
            }

            button {
                padding: 10px 20px;

                background-color: $yellow1;
                border: none;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                    background-color: $blue2;
                }
            }
        }
    }
    
}