#section-sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 50px 0px;
    background-color: $yellow1;

    article {
        width: 60%;
        text-align: justify;

        h2 {
            color: white;
            font-size: 37px;
            text-shadow: 1px 1px 5px rgba(46, 46, 46, 0.508);
        }
    
        p {
            font-size: 26px;
        }
    }
}