body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 70% 20%;
    grid-template-areas: 'header' 'main' 'footer';

    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    grid-area: header;

    background-color: gray;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 30px;
    }
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;

    #section-apresentacao {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    
        height: 600px;

        article {
            display: flex;
            flex-direction: column;
            
            h1 {
                color: rgb(28, 28, 28);
                font-size: 40px;
            }

            p {
                color: rgb(28, 28, 28);
                font-size: 18px;
            }

            #div-links ul {
                display: flex;
                flex-direction: row;
            
                list-style: none;
                gap: 30px;
                padding-left: 0px;
            }
        }
    }

    #section-sobre-mim {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 150px;
        height: 600px;
    
        h2 {
            font-size: 28px;
        }
    
        p {
            font-size: 18px;
        }
    
        article {
            padding-left: 330px;
            width: 60%;
            text-align: justify;
        }
    }

    #section-skills, 
    #section-hobbies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        aside {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
    
            height: 400px;
            width: 70%;
        }

        .cards {
            background-color: blue;
        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 90px;
            width: 90px;
        }
    }
}


main #section-formacao-academica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #card-instituicao {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;

        .cards {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        
            height: 300px;
        
        }
    }
}


footer {
    grid-area: footer;
}

/***/

